.formationsList {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* S'adapte automatiquement à la taille de l'écran */
  gap: 20px; /* Espace entre les cartes */
  padding: 20px; /* Espacement avec les bords */
  justify-items: center; /* Centre les cartes dans leurs colonnes */
  align-items: start; /* Assure un alignement vertical correct */
}

@media (max-width: 480px) {
  .formationsList {
    grid-template-columns: 1fr; /* Une seule colonne pour les petits écrans */
  }
}

.searchbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px; /* Donne une hauteur minimale */
  margin-bottom: 20px;
}

.searchbar-container input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.no-results {
  text-align: center; /* Centre horizontalement */
  font-size: 1rem; /* Taille du texte */
  color: #555; /* Couleur douce */
  margin-top: 20px; /* Espace au-dessus */
  display: flex; /* Utilisation de flexbox */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 200px; /* Assurez une hauteur suffisante pour le centrer visuellement */
}


