.formationsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Minimum 300px pour chaque colonne */
  gap: 20px;
  padding: 20px;
  justify-items: center; /* Centre les cartes dans leurs colonnes */
}

@media (max-width: 768px) {
  .formationsList {
    grid-template-columns: 1fr; /* Une colonne pour les écrans plus petits */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.searchbar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchbar-container input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.no-results {
  text-align: center; /* Centre horizontalement */
  font-size: 1rem; /* Taille du texte */
  color: #555; /* Couleur douce */
  margin-top: 20px; /* Espace au-dessus */
  display: flex; /* Utilisation de flexbox */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 200px; /* Assurez une hauteur suffisante pour le centrer visuellement */
}

